@font-face {
    font-family: 'Sana Sans Alt Book';
    src: url('SanaSansAlt-Book.eot');
    src: url('SanaSansAlt-Book.eot?#iefix') format('embedded-opentype'),
        url('SanaSansAlt-Book.woff2') format('woff2'),
        url('SanaSansAlt-Book.woff') format('woff'),
        url('SanaSansAlt-Book.ttf') format('truetype'),
        url('SanaSansAlt-Book.svg#SanaSansAlt-Book') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Sana Sans Alt';
    src: url('SanaSansAlt-Thin.eot');
    src: url('SanaSansAlt-Thin.eot?#iefix') format('embedded-opentype'),
        url('SanaSansAlt-Thin.woff2') format('woff2'),
        url('SanaSansAlt-Thin.woff') format('woff'),
        url('SanaSansAlt-Thin.ttf') format('truetype'),
        url('SanaSansAlt-Thin.svg#SanaSansAlt-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Sana Sans Alt';
    src: url('SanaSansAlt-Light.eot');
    src: url('SanaSansAlt-Light.eot?#iefix') format('embedded-opentype'),
        url('SanaSansAlt-Light.woff2') format('woff2'),
        url('SanaSansAlt-Light.woff') format('woff'),
        url('SanaSansAlt-Light.ttf') format('truetype'),
        url('SanaSansAlt-Light.svg#SanaSansAlt-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Sana Sans Alt';
    src: url('SanaSansAlt-Regular.eot');
    src: url('SanaSansAlt-Regular.eot?#iefix') format('embedded-opentype'),
        url('SanaSansAlt-Regular.woff2') format('woff2'),
        url('SanaSansAlt-Regular.woff') format('woff'),
        url('SanaSansAlt-Regular.ttf') format('truetype'),
        url('SanaSansAlt-Regular.svg#SanaSansAlt-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Sana Sans Alt';
    src: url('SanaSansAlt-Medium.eot');
    src: url('SanaSansAlt-Medium.eot?#iefix') format('embedded-opentype'),
        url('SanaSansAlt-Medium.woff2') format('woff2'),
        url('SanaSansAlt-Medium.woff') format('woff'),
        url('SanaSansAlt-Medium.ttf') format('truetype'),
        url('SanaSansAlt-Medium.svg#SanaSansAlt-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Sana Sans Alt';
    src: url('SanaSansAlt-Bold.eot');
    src: url('SanaSansAlt-Bold.eot?#iefix') format('embedded-opentype'),
        url('SanaSansAlt-Bold.woff2') format('woff2'),
        url('SanaSansAlt-Bold.woff') format('woff'),
        url('SanaSansAlt-Bold.ttf') format('truetype'),
        url('SanaSansAlt-Bold.svg#SanaSansAlt-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Sana Sans Alt';
    src: url('SanaSansAlt-Black.eot');
    src: url('SanaSansAlt-Black.eot?#iefix') format('embedded-opentype'),
        url('SanaSansAlt-Black.woff2') format('woff2'),
        url('SanaSansAlt-Black.woff') format('woff'),
        url('SanaSansAlt-Black.ttf') format('truetype'),
        url('SanaSansAlt-Black.svg#SanaSansAlt-Black') format('svg');
    font-weight: 800;
    font-style: normal;
}


@font-face {
    font-family: 'Sana Sans Alt';
    src: url('SanaSansAlt-Heavy.eot');
    src: url('SanaSansAlt-Heavy.eot?#iefix') format('embedded-opentype'),
        url('SanaSansAlt-Heavy.woff2') format('woff2'),
        url('SanaSansAlt-Heavy.woff') format('woff'),
        url('SanaSansAlt-Heavy.ttf') format('truetype'),
        url('SanaSansAlt-Heavy.svg#SanaSansAlt-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
}

